* {
    box-sizing: border-box;
}

:root {

    --amarelo-tesouro: rgb(255,213,0);
    --verde-tesouro: rgb(50,156,50);
    --azul-tesouro: rgb(0,74,147);

}

svg {
    width: 100%;
    border: 1px solid red;
    height: 2000px;
}

.links {
    /*stroke: magenta;*/
    stroke: var(--azul-tesouro);
    transition: opacity .5s, stroke .5s;
}

.links-ativo {
    stroke: url(#strokeGradient);
}

.info-card {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid purple;
    background-color: black;
    color: hotpink;
    margin: 0;
    z-index: 1;
}

.vis {
    position: relative;
}

.vis p.labels {

    position: absolute;
    margin: 0;
    padding: 0 .5em;
    border-top: 2px dotted transparent;
    border-bottom: 2px dotted transparent;

}

.vis p.labels:hover {
    border-color: gray;
}

p.labels.labels-receitas {

    text-align: right;

}

.nodes {
    stroke: none;
}

table td.item-valor {

    text-align: right;

}

.nodes[data-tipo="receita"] { fill: var(--amarelo-tesouro); }
.nodes[data-tipo="despesa"] { fill: var(--verde-tesouro); }

.labels-receitas {color: var(--amarelo-tesouro)}
.labels-despesas {color: var(--verde-tesouro)}