* {
    box-sizing: border-box;
}

:root {

    --amarelo-tesouro: rgb(255,213,0);
    --amarelo-tesouro-texto: #D5B723;
    --verde-tesouro: rgb(50,156,50);
    --azul-tesouro: rgb(0,74,147);
    --bg: ivory;
    background-color: var(--bg);
    --text: #333;

    --cor1: #ffd700;
    --cor2: #ffb14e;
    --cor3: #fa8775;
    --cor4: #ea5f94;
    --cor5: #cd34b5;
    --cor6: #9d02d7;
    --cor7: #0000ff;

}

/* ======== vis ========= */

svg {
    width: 100%;
    height: 2000px;
}

.nodes:hover {
    stroke: var(--text);
}

.links {
    /*stroke: magenta;*/
    stroke: var(--cor4);
    transition: opacity .5s, stroke .5s;
}

.links[data-source="Emissões de Dívida"] { stroke: var(--cor6); }
.links[data-source="Receitas do RGPS"] { stroke: var(--cor7); }
.links[data-source="Juros e remunerações recebidas"] { stroke: var(--cor2); }
.links[data-source="Contribuições sociais (exceto RGPS) e econômicas"] { stroke: var(--cor3); }
.links[data-source="Impostos"] { stroke: var(--cor4); }
.links[data-source="Demais receitas"] { stroke: var(--cor5); }
.links[data-source="Exploração de Petróleo e outros recursos naturais"] { stroke: var(--cor1); }
.links[data-source="Outras receitas financeiras"] { stroke: var(--azul-tesouro); }



.links.links-ativo {
    stroke: url(#strokeGradient);
}

.vis {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.vis p.labels {

    position: absolute;
    margin: 0;
    padding: 0 .5em;
    border-top: 2px dotted transparent;
    border-bottom: 2px dotted transparent;
    font-family: 'Roboto Condensed';

}

.vis p.labels:hover {
    border-color: gray;
}

p.labels.labels-receitas {

    text-align: right;

}

.nodes {
    stroke: none;
}

.info-card {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
    padding: .5em;
    margin: 0;
    z-index: 1;
    font-family: 'Roboto Condensed';
    transition: opacity .5s;
}

.info-card-hidden { 
    opacity : 0;
    pointer-events: none;
}

.info-card[data-tipo-infocard="receita"]  { background-color: lemonchiffon;/*border-color: var(--amarelo-tesouro);*/}
.info-card[data-tipo-infocard="despesa"]  {background-color: lightgoldenrodyellow;/*border-color: var(--verde-tesouro);*/}


.info-card table {
    font-weight: 300;
    font-size: .8em;
}

.info-card h3 {
    margin: 0;
    font-size: 1.2em;
    margin-top: .5rem;
}


.info-card[data-tipo-infocard="receita"] h3 { color: var(--amarelo-tesouro-texto); }
.info-card[data-tipo-infocard="despesa"] h3 { color: var(--verde-tesouro); }


table td.item-valor {

    text-align: right;

}

.info-card p {
    margin: 0;
}

.info-card .info-card-valor-total { 
    font-weight: bold;
    font-size: 1.2em;
}

.info-card .info-card-pct-total {
    font-size: .8em;
    margin-bottom: .5rem;
}

.nodes[data-tipo="receita"] { fill: var(--amarelo-tesouro); }
.nodes[data-tipo="despesa"] { fill: var(--verde-tesouro); }

.labels-receitas {color: var(--amarelo-tesouro-texto)}
.labels-despesas {color: var(--verde-tesouro)}

[data-tag] {
    padding: .2em .4em;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .6em;
}

[data-tag="receita"] { background-color: var(--amarelo-tesouro);}
[data-tag="despesa"] { background-color: var(--verde-tesouro); color: white;}

.btn-fechar {
    font-family: 'Roboto Condensed';
    position: absolute;
    top: 100%;
    margin-top: .5rem;
    border: 1px dotted var(--text);
    font-size: .7rem;
    padding: .2em .5em;
    background-color: var(--bg);
}

.btn-fechar:hover {
    /*box-shadow: 2px 2px currentColor;*/
    border-style: solid;
}

/* ======== texto ========= */

.intro {

    font-family: 'Roboto';
    margin: 0 auto;
    max-width: 620px;

}

.intro {

    line-height: 1.4;

}

.intro h1 {

    font-size: 3.5rem;
    text-align: center;
    max-width: 400px;
    margin: 2rem auto;
    font-family: 'Roboto Serif';

}

.intro h1::after {
    content: "";
    border-bottom: 4px solid currentColor;
    display: block;
    width: 4rem;
    margin: 2rem auto;
}