* {
    box-sizing: border-box;
}

:root {

    --amarelo-tesouro: rgb(255,213,0);
    --amarelo-tesouro-texto: #D5B723;
    --verde-tesouro: rgb(50,156,50);
    --azul-tesouro: rgb(0,74,147);
    --azul-tesouro-claro: rgba(0, 74, 147, 0.7);
    --bg: ivory;
    background-color: var(--bg);
    --text: #333;

    --cor1: #FFA100;
    --cor2: #9500FF;
    --cor3: /*#0A00FF;*/ dodgerblue;
    --cor4: #AA9739;
    --cor5: #7C9C32;
    --cor6: #9C4132;
    --cor7: /*#9C3267;*/ firebrick;
    --cor8: #2E472E;
    --cor9: #009490;
    --cor10: #947B00;
    --cor11: #945D00;
    --cor12: #152A3F;

}

.treemap-opening {
    width: 100%;
    height: 500px;

}

/* ======== vis ========= */

svg.sankey {
    width: 100%;
    height: 2000px;
}

.nodes:hover {
    stroke: var(--text);
}

.links {
    /*stroke: magenta;*/
    stroke: var(--cor4);
    transition: opacity .5s, stroke .5s;
}

.links[data-source="Emissões de Dívida"] { stroke: var(--cor7); }
.links[data-source="Receitas do RGPS"] { stroke: var(--cor3); }
.links[data-source="Juros e remunerações recebidas"] { stroke: var(--cor4); }
.links[data-source="Contribuições sociais (exceto RGPS) e econômicas"] { stroke: var(--cor5); }
.links[data-source="Impostos"] { stroke: var(--cor2); }
.links[data-source="Demais receitas"] { stroke: var(--cor8); }
.links[data-source="Exploração de Petróleo e outros recursos naturais"] { stroke: var(--cor9); }
.links[data-source="Outras receitas financeiras"] { stroke: var(--cor10); }



.links.links-ativo {
    stroke: url(#strokeGradient);
}

.vis {
    position: relative;
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.vis p.labels {

    position: absolute;
    margin: 0;
    padding: 0 .5em;
    border-top: 2px dotted transparent;
    border-bottom: 2px dotted transparent;
    font-family: 'Roboto Condensed';

}

.vis p.labels:hover {
    border-color: gray;
}

p.labels.labels-receitas {

    text-align: right;

}

.nodes {
    stroke: none;
}

.info-card {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
    padding: .5em;
    margin: 0;
    z-index: 1;
    font-family: 'Roboto Condensed';
    transition: opacity .5s;
}

.info-card-hidden { 
    opacity : 0;
    pointer-events: none;
}

.info-card[data-tipo-infocard="receita"]  { background-color: lemonchiffon;/*border-color: var(--amarelo-tesouro);*/}
.info-card[data-tipo-infocard="despesa"]  {background-color: lightgoldenrodyellow;/*border-color: var(--verde-tesouro);*/}


.info-card table {
    font-weight: 300;
    font-size: .8em;
    margin-top: .5rem;
}

.info-card h3 {
    margin: 0;
    font-size: 1.2em;
    margin-top: .5rem;
}


.info-card[data-tipo-infocard="receita"] h3 { color: var(--amarelo-tesouro-texto); }
.info-card[data-tipo-infocard="despesa"] h3 { color: var(--verde-tesouro); }

table td.item-valor {

    text-align: right;

}

.info-card p {
    margin: 0;
}

.info-card .info-card-valor-total { 
    font-weight: bold;
    font-size: 1.2em;
    margin-top: .5rem;
}

.info-card .info-card-pct-total {
    font-size: .8em;
    margin-bottom: .5rem;
}

.nodes[data-tipo="receita"] { fill: var(--amarelo-tesouro); }
.nodes[data-tipo="despesa"] { fill: var(--verde-tesouro); }

.labels-receitas {color: var(--amarelo-tesouro-texto)}
.labels-despesas {color: var(--verde-tesouro)}

[data-tag] {
    padding: .2em .4em;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .6em;
}

[data-tag="receita"] { background-color: var(--amarelo-tesouro);}
[data-tag="despesa"] { background-color: var(--verde-tesouro); color: white;}

.btn-fechar {
    font-family: 'Roboto Condensed';
    position: absolute;
    top: 100%;
    margin-top: .5rem;
    border: 1px dotted var(--text);
    font-size: .7rem;
    padding: .2em .5em;
    background-color: var(--bg);
}

.btn-fechar:hover {
    /*box-shadow: 2px 2px currentColor;*/
    border-style: solid;
}

/* ======== texto ========= */

body {
    padding: 0;
    margin: 0;
}

main {
    margin: 5px;
}

header.logo {
    width: 100%;
    background-color: var(--azul-tesouro);
    padding: 10px;
    box-shadow: 0 0 5px 1px var(--azul-tesouro);
    margin: 0;
    margin-bottom: 1rem;
}

header img.logo-tt {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*left: 0;
    right: 0;
    top: 20px;*/
}

.intro {

    font-family: 'Roboto Serif';
    margin: 0 auto;
    max-width: 620px;
    font-weight: 300;

}

.intro {

    line-height: 1.4;

}

.hero h1 {

    font-size: 3rem;
    text-align: center;
    max-width: 400px;
    margin: 2rem auto;
    font-family: 'Roboto Serif';
    color: var(--azul-tesouro);

}

.intro h1::after {
    content: "";
    border-bottom: 4px solid currentColor;
    display: block;
    width: 4rem;
    margin: 2rem auto;
}

.opening {
    width: 100%;
}

.hero-image {
    width: 300px; /* Adjust as needed */
    height: 300px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
.hero-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 60%, ivory 70%);
    pointer-events: none;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: .2em;
}

  /* ======== metodologia ========= */

.wrapper-metodologia {

    font-family: 'Roboto';
    border-top: 3px solid currentColor;
    background-color: cornsilk;

}

.wrapper-metodologia.no-border{
    border-color: cornsilk;
}

.metodologia {
    margin: 3em auto;
    margin-bottom: 0;
    max-width: 620px;
    padding-bottom: 2rem;
    line-height: 1.4;

}

.metodologia h3 {
    margin-top: 2rem;
}

.wrapper-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    max-width: 620px;
    gap: 1rem;
}

.wrapper-buttons button {

    padding: .5em;
    border: 2px solid var(--azul-tesouro);
    font-family: Roboto;
    background-color: transparent;
    color: var(--azul-tesouro);
    border-radius: 5px;

}

.wrapper-buttons button:hover {
    background-color: var(--azul-tesouro-claro);
    color: white;
}

.wrapper-buttons button.selected {
    background-color: var(--azul-tesouro);
    color: white;
}

svg.chart-metodologia {
    width: 100%;
    height: 600px;
    /*max-height: 90vh;*/
    max-width: 1200px;
    margin: 0 auto;
}

div.wrapper-chart-metodologia {
    background-color: cornsilk;
    width: 100%;
    padding-top: .5rem;
}

.metodologia div.metodologia-criterios-despesas {
    font-size: .8em;
    font-weight: 300;
}


div.container-chart-metodologia {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.tooltip-bubble {
    position: absolute;
    width: 250px;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .2s;
    padding: .5em;
    background-color: var(--bg);
    border: 2px solid var(--text);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
    z-index: 2;
}

.tooltip-bubble p {
    margin: .5em 0;
    font-family: 'Roboto Condensed';
    font-size: .9em;
    font-weight: 300;

}

.tooltip-bubble p span {
    font-weight: bold;
    display: block;
}

.tooltip-bubble.hidden {
    opacity: 0;
    pointer-events: none    ;
}

.rotulo-cont-bubble {
    position: absolute;
    font-family: 'Roboto Condensed';
    text-align: center;
    transform: translate(-50%, -100%);
    font-size: .7rem;
}

.valor-bubble {
    font-size: 1.2em;
    font-weight: bold;
}

.rotulo-cont-bubble p {
    margin: 0;
    margin-top: .5em;
}

.rotulo-cont-bubble-total {

    top: calc(50% + 200px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;

}

  .txt-receita { background-color: var(--amarelo-tesouro); }
  .txt-despesa { background-color: var(--verde-tesouro); }

  figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  figure figcaption {
    font-size: .8em;
    text-align: center;
  }

  h4 {
    font-weight: 400;
    font-size: 1rem;
    /*border-top: 1px solid currentColor;*/
    border-bottom: 1px solid currentColor;
  }

/* canvas */

canvas {
    width: 100%;
    height: 300px;
    border: 1px solid black;  
}

