* {
    box-sizing: border-box;
}

svg {
    width: 100%;
    border: 1px solid red;
    height: 2000px;
}

.links {
    stroke: magenta;
}

.info-card {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid purple;
    background-color: black;
    color: hotpink;
    margin: 0;
}

.vis {
    position: relative;
}

.vis p.labels {

    position: absolute;
    margin: 0;
    padding: 0 .5em;

}

p.labels.labels-receitas {

    text-align: right;

}

.nodes {
    stroke: none;
}

table td.item-valor {

    text-align: right;

}