* {
    box-sizing: border-box;
}

svg {
    width: 100%;
    border: 1px solid red;
    height: 2000px;
}

.links {
    stroke: hotpink;
}

.info-card {
    position: absolute;
}

.vis {
    position: relative;
}

.vis p.labels {

    position: absolute;
    margin: 0;
    padding: 0 .5em;

}

p.labels.labels-receitas {

    text-align: right;

}