:root {
    --cor1 : #BFB6AE;
    --cor2 : #D98841;
    --cor3 : #BF754B;
    --cor4 : #A64732;
    --cor5 : #402222;
    --clara : #d5d4cb;
    --clara2 : #d6e4e9;
    --light: #F2EFD5;
    --dark: #B0A966;
    --darker: #706B41;
    --back: #F0E68C;
    --hl: #BDB56D;
    --hl2: #F0CE7F;
    --font: #444;
    --amarelo: rgb(255,235,114);
    --azul: rgb(138, 203, 193);
    --verde: rgb(55, 76, 30);
    /*
    --desp: #FF59CA;
    --desp-texto: #B34790;

        --rec: #80B8FF;
    --rec-texto: #6286B3;
        --desp: #C666FF;
    --desp-texto: #883EB3;

    */
    --rec: rgb(138, 203, 193);
    --rec-texto: #1D4A66;
    --desp: rgb(55, 76, 30);
    --desp-texto: rgb(44, 53, 27);;



    --dark: #807539;
    --darker: #403A1D;
    --darker: rgb(44, 53, 27);
    --hl2: #CCBB5C;
    --light: #FFF5BF;


}

body {
    background-color : var(--amarelo);
    font-family: Lato;
    color: var(--verde);
    margin: 1rem;
    /*position: relative;*/
}

/* = = = = = 
   = HEADER
   = = = = = */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

header > * {
    margin-top: 0;
    margin-bottom: 1rem;
}

.logo {
    /*position: absolute;
    top: 0;
    right: 1rem;*/
    max-width: 100px;
    font-size: 2rem;
    /*margin-top: 0.67em;*/
    flex-grow: 0;
    flex-shrink: 0;
}

@media (max-width: 600px) {

    .logo {
        order: 1;
    }

    header > h1 {
        order : 2;
    }
    
}

ul {
    list-style: none;
    font-size: .8rem;
    display: flex;
    padding-inline-start: 0;
}

li {
    color: var(--dark);
    font-weight: 300;
    padding: .8em 1.1em;
    border-top: solid 1px var(--dark);
    border-bottom: solid 1px var(--dark);
    border-left: solid 1px var(--dark);
    background: var(--light);
    margin: 0;
    cursor: pointer;
}

li:first-of-type {

    border-radius: 4px 0 0 4px;

}

li:last-of-type {

    border-radius: 0 4px 4px 0;
    border-right: solid 1px var(--dark);

}

li.selected {

    font-weight: normal;
    color: var(--verde);
    background: var(--hl2);/* #e9e9e9;*/
    border-color: var(--darker);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);

}

/*barras */

rect.bordas {
    stroke : var(--amarelo);
}

rect[data-tipo="despesa"] {
    fill: var(--desp);
}

rect[data-tipo="receita"] {
    fill: var(--rec);
}

.nodes[data-tipo="despesa"] {
    stroke: var(--desp-texto);
}

.nodes[data-tipo="receita"] {
    stroke: var(--rec-texto);
}

.nodes {
    stroke-width: 0;
    cursor: pointer;
}

/* cliques no node */

.nodes.node-selecionado {
    opacity: 1;
    fill: #da4f81;

}

.links.node-selecionado path {
    stroke: #da4f81;
}

.rotulos.rotulo-de-node-selecionado {
    opacity: 1;
    color : #da4f81;
}

.node-esmaecido {
    opacity: .1;

}

.rotulo-de-node-esmaecido {
    opacity: .1;

}


/* rotulos totais */

.vis-container {

    position: relative;

}

.vis-container .rotulos {

    position : absolute;
    margin : 0;
    padding: 0 5px;
    text-align: left;
    font-size: .8rem;
    
}

.rotulos[data-tipo-rotulo-totals="receita"],
.rotulos-totais-gerais[data-tipo-rotulo-totals="despesa"]
 {

    transform: translateX(-100%);
    text-align: right;

}

.rotulos-totais-gerais[data-tipo-rotulo-totals="receita"] {
    transform: translateX(0);
    text-align: left;
}

.rotulos * {
    text-align: inherit;
    margin: inherit;
}

[data-tipo-rotulo-totals="receita"] {
    color: var(--rec-texto);
}

[data-tipo-rotulo-totals="despesa"] {
    color: var(--desp-texto);
}

.rotulos-nodes p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.1;
}

@media (max-width: 700px) {

    .rotulos-nodes p {

        font-size: .7rem;
        font-family: Mohave;

    }
    
}

@media (max-width: 620px) {

    .rotulos-nodes p {

        font-size: .6rem;

    }
    
}

/*
.rotulos h3 {
    margin: 0 0 5px 0;
}*/

.hidden {

    opacity: 0;

}

.cortina {

    fill: var(--amarelo);
}

.links path {
    stroke: var(--amarelo);
    stroke: #CCBB5C;
    stroke: #FFC966;
    stroke: #403A1D;
}

a.limpar {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 1em;
    font-size: .7rem;
    padding: .5em 1em;
    background-color: var(--dark);
    border-radius: .5em;
    color: var(--light);
}

rect.totals {
    pointer-events: none;
}